.categories {
  padding-top: 90px;
}

.categories__title {
  @include vertical-margin-clear;
  color: $c-blue;
}

.categories__buttons {
  margin-top: 20px;
  display: flex;
}

.categories__button {
  @include button-normalize;
  @include set-font(16px, 24px, 500);
  @include set-transition(all);
  color: $c-dark-grey;
  background-color: $c-light-grey;
  padding: 10px 25px;
  margin-right: 30px;
  border-radius: 10px;

  &:last-child {
    margin-right: 0;
  }

  &--active {
    color: $c-white;
    background-color: $c-blue;
  }
}

.categories__container {
  display: flex;
  justify-content: space-between;
  margin-top: 5px;
}

.categories__list {
  width: 50%;
}

.categories__inner {
  width: 37%;
}

.categories__list {
  @include list-style-reset;
  display: flex;
  justify-content: space-between;
}

.categories__item {
  width: 45%;
  display: flex;
  flex-direction: column;
}

.categories__calculate-btn {
  visibility: hidden;
}

@media only screen and (max-width: $tablet-width) {
  .categories {
    padding-top: 40px;
    padding-bottom: 30px;
  }

  .categories__calculate-btn {
    visibility: visible;
    margin-top: 30px;
  }

  .categories__container {
    flex-wrap: wrap;
  }

  .categories__list {
    width: 100%;
    align-items: flex-end;
  }

  .categories__inner {
    width: 100%;
    margin-top: 25px;
    order: -1;
  }
}

@media only screen and (max-width: $mobile-width) {
  .categories__buttons {
    flex-wrap: wrap;
  }

  .categories__button {
    @include set-font(14px, 20px, 500);
    padding: 8px 20px;
    margin-right: 0;
    width: 100%;
    margin-bottom: 10px;

    &:last-child {
      margin-bottom: 0;
    }
  }
}
