.cta__title {
  @include vertical-margin-clear;
  @include set-font(45px, 60px, 500);
  @include set-font-family('Goudy Trajan');
  text-transform: uppercase;
}

.cta__subtitle {
  @include vertical-margin-clear;
  @include set-font(14px, 17px, 500);
  margin-top: 20px;
}

.cta__animation-container {
  margin-top: 60px;
  opacity: 0;
  transition: opacity 0.5s ease-in;
  transition-delay: 0.5s;

  &--visible {
    opacity: 1;
  }
}

@media only screen and (max-width: $tablet-width) {
  .cta__title {
    @include set-font(25px, 30px, 500);
  }

  .cta__animation-container {
    margin-top: 85px;
  }
}

@media only screen and (max-width: $mobile-width) {
  .cta__title {
    @include set-font(20px, 25px, 500);
    position: relative;
    z-index: 1;
  }

  .cta__subtitle {
    position: relative;
    z-index: 1;
  }
}
