.elevator-info {
  padding-top: 90px;
  padding-bottom: 50px;
}

.elevator-info__logo {
  text-align: center;
}

.elevator-info__title {
  @include center;
  @include vertical-margin-clear;
  @include set-font(30px, 40px, 500);
  @include set-font-family('Goudy Trajan');
  text-align: center;
  width: 85%;
  margin-top: 25px;
}

.elevator-info__wrapper {
  margin-top: 70px;
  position: relative;
}

.elevator-info__features {
  @include list-style-reset;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

.elevator-info__feature-item {
  width: 39%;
  margin-bottom: 50px;
  position: relative;

  &::before,
  &::after {
    position: absolute;
    content: '';
    height: 2px;
    background-color: $c-blue;
    top: 21px;
  }

  &:nth-child(odd) {
    text-align: right;
    padding-right: 47px;

    & .elevator-info__button {
      right: -80px;
      top: 60px;
    }

    &::before {
      right: -29px;
      width: 60px;
    }

    &::after {
      width: 70px;
      right: -84px;
      transform: rotate(55deg);
      top: 50px;
    }
  }

  &:nth-child(even) {
    text-align: left;
    padding-left: 47px;

    & .elevator-info__button {
      left: -80px;
      top: 60px;
    }

    &::before {
      left: -29px;
      width: 60px;
    }

    &::after {
      width: 70px;
      left: -84px;
      transform: rotate(-55deg);
      top: 50px;
    }
  }

  &--active .elevator-info__feature-title {
    color: rgba($c-black, 1);
  }

  &--active .elevator-info__feature-text {
    color: rgba($c-lightest-grey, 1);
  }

  &--active:nth-child(even) {
    & .elevator-info__button {
      left: 0;
      top: 5px;
      animation: rightTranslate 0.7s ease-out;
    }
  }

  &--active:nth-child(odd) {
    & .elevator-info__button {
      right: 0;
      top: 5px;
      animation: leftTranslate 0.7s ease-out;
    }
  }
}

.elevator-info__elevator-image {
  position: absolute;
  top: 25px;
  right: 50%;
  transform: translateX(50%);
}

.elevator-info__feature-title {
  @include set-font(16px, 24px, 500);
  @include set-transition(color);
  transition-delay: 0.7s;
  color: rgba($c-black, 0.08);
}

.elevator-info__feature-text {
  @include set-transition(color);
  transition-delay: 0.7s;
  color: rgba($c-lightest-grey, 0.25);
  margin-top: 15px;
}

.elevator-info__button {
  @include button-normalize;
  z-index: 1;
  width: 32px;
  height: 32px;
  position: absolute;
  top: 5px;
  background-image: url('../img/circle.svg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: 32px auto;
}


@keyframes rightTranslate {
  0% {
    left: -80px;
    top: 60px;
  }
  50% {
    left: -40px;
    top: 5px;
  }
  100% {
    left: 0;
    top: 5px;
  }
}

@keyframes leftTranslate {
  0% {
    right: -80px;
    top: 60px;
  }
  50% {
    right: -40px;
    top: 5px;
  }
  100% {
    right: 0;
    top: 5px;
  }
}


@media only screen and (max-width: $tablet-width) {
  .elevator-info {
    padding-bottom: 0;
  }

  .elevator-info__title {
    @include set-font(25px, 35px, 500);
    width: 100%;
  }

  .elevator-info__wrapper {
    margin-top: 30px;
  }

  .elevator-info__button {
    display: none;
  }

  .elevator-info__feature-item {
    width: 100%;
    padding: 0;
    margin-bottom: 30px;

    &:nth-child(odd) {
      text-align: left;
      padding-right: 40px;
    }

    &:nth-child(even) {
      text-align: right;
      padding-left: 40px;
    }

    &::before,
    &::after {
      display: none;
    }
  }

  .elevator-info__elevator-image {
    display: none;
  }

  .elevator-info__feature-title {
    color: rgba($c-black, 1)!important;
  }

  .elevator-info__feature-text {
    color: rgba($c-lightest-grey, 1)!important;
  }
}

@media only screen and (max-width: $mobile-width) {
  .elevator-info__title {
    @include set-font(20px, 30px, 500);
    width: 100%;
  }
}
