.footer {
  padding-top: 130px;
  padding-bottom: 30px;
  display: flex;
  position: relative;
  overflow-y: hidden;
}

.footer__wrapper {
  display: flex;
  width: 100%;
}

.footer__text {
  @include vertical-margin-clear;
  @include set-font(11px, 16px, 400);
  margin-left: 40px;
  width: 21%;
  align-self: center;
}

.footer__logo {
  align-self: center;
}

.footer__button {
  margin-left: auto;
  margin-right: 75px;
  margin-top: -10px;
  align-self: flex-start;
}

.footer__tel {
  @include set-font(30px, 36px, 500);
  color: $c-blue;
}

.footer__contacts {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  margin-top: -5px;
}

.footer__work-hours {
  @include vertical-margin-clear;
  @include set-font(10px, 16px, 400);
  margin-top: 5px;
}

.footer__img {
  position: absolute;
  top: 0;
  left: 38%;
  z-index: 1;
}

@media only screen and (max-width: 1100px) {
  .footer__img {
    display: none;
  }

  .footer__button {
    margin-right: 5px;
  }
}

@media only screen and (max-width: $tablet-width) {
  .footer__wrapper {
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .footer__contacts {
    margin-top: 25px;
  }

  .footer__logo {
    width: 40%;
  }

  .footer__text {
    width: 50%;
    margin: 0;
    text-align: right;
  }

  .footer__button {
    margin: 0;
    margin-top: 25px;
  }
}

@media only screen and (max-width: $tablet-width) {
  .footer {
    padding-top: 70px;
  }

  .footer__contacts {
    width: 100%;
    align-items: center;
    margin-top: 20px;
  }

  .footer__logo {
    width: 100%;
    text-align: center;
  }

  .footer__text {
    width: 100%;
    text-align: center;
    margin-top: 15px;
  }

  .footer__button {
    width: 100%;
  }
}
