.header {
  display: flex;
  align-items: flex-start;
}

.header__logo {
  margin-left: 80px;
}

.header__contacts {
  margin-left: auto;
}

.header__contacts {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.header__burger {
  margin-top: 10px;
}

.header__tel {
  @include set-font(30px, 36px, 500);
  color: $c-blue;
}

.header__callback-btn {
  @include button-normalize;
  @include set-font(13px, 16px, 500);
  @include set-transition(color);
  color: $c-black;
}

.header__callback-btn:hover,
.header__callback-btn:focus {
  color: $c-blue;
}

.header__callback-btn:active {
  color: $c-dark-blue;
}

.header__animation-container {
  opacity: 0;
  transition: opacity 0.5s ease-in;
  transition-delay: 0.5s;

  &--visible {
    opacity: 1;
  }
}

@media only screen and (max-width: $mobile-width) {
  .header {
    flex-wrap: wrap;
  }

  .header__logo {
    margin-left: auto;

    & img {
      width: 130px;
      height: auto;
    }
  }

  .header__tel {
    @include set-font(18px, 20px, 500);
  }
}
