.model {
  transition-property: height, visibility, opacity;
  transition-duration: 0s, 0.05s, 0.2s;
  transition-timing-function: ease-in, ease-in, ease-in;
  opacity: 0;
  visibility: hidden;
  height: 0;
  overflow: hidden;

  &--visible {
    transition-delay: 0s, 0.0025s, 0.1s;
    opacity: 1;
    visibility: visible;
    height: auto;
    overflow: hidden;
    padding-bottom: 35px;
  }
}

.model__title {
  @include set-font(30px, 36px, 500);
}

.model p {
  @include vertical-margin-clear;
  margin-top: 20px;
}

.model__button {
  margin-top: 70px;
}


@media only screen and (max-width: $tablet-width) {
  .model__title {
    @include set-font(20px, 30px, 500);
  }

  .model__button {
    display: none;
    margin-top: 20px;
  }
}
