.model {
  @include set-transition(opacity);
}

.model__title {
  @include set-font(30px, 36px, 500);
}

.model p {
  @include vertical-margin-clear;
  margin-top: 20px;
}

.model__button {
  margin-top: 70px;
}


@media only screen and (max-width: $tablet-width) {
  .model__title {
    @include set-font(20px, 30px, 500);
  }

  .model__button {
    margin-top: 20px;
  }
}
