.slider {
  padding-top: 65px;
}

.slider__title {
  @include vertical-margin-clear;
}

.slider__images {
  margin-top: 55px;
  position: relative;

  & .owl-prev,
  & .owl-next {
    @include set-transition(transform);
    margin: 0!important;
    width: 48px;
    height: 48px;
    position: absolute;
    bottom: 50%;
    transform: translate(0, 50%);
    background-size: 48px auto;
    background-position: center;
    background-repeat: no-repeat;
    outline: none;
  }

  & .owl-prev:focus,
  & .owl-prev:hover {
    background-color: transparent!important;
    transform: translate(-12px, 50%);
  }

  & .owl-next:hover,
  & .owl-next:focus {
    background-color: transparent!important;
    transform: translate(12px, 50%);
  }

  & .owl-prev span,
  & .owl-next span {
    display: none;
  }

  & .owl-prev {
    left: 40px;
    background-image: url('../img/arrow-left.svg')!important;
  }

  & .owl-next {
    right: 40px;
    background-image: url('../img/arrow-right.svg')!important;
  }
}


@media only screen and (max-width: $tablet-width) {
  .slider {
    padding-top: 40px;
    padding-bottom: 30px;
  }

  .slider__images {
    margin-top: 35px;
    position: relative;

    & .owl-prev,
    & .owl-next {
      width: 35px;
      height: 35px;
      background-size: 35px auto;
    }

    & .owl-prev {
      left: 20px;
    }

    & .owl-next {
      right: 20px;
    }
  }
}

@media only screen and (max-width: $mobile-width) {
  .slider__images {
    margin-top: 25px;

    & .owl-prev {
      left: 10px;
    }

    & .owl-next {
      right: 10px;
    }
  }
}
