.welcome {
  background-image: url('../img/welcome-bg-top.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  box-shadow: 0px -10px 10px 10px $c-white inset;
}

.welcome__container {
  position: relative;
}

.welcome__header {
  padding-top: 35px;
}

.welcome__elevator {
  position: absolute;
  display: flex;
  top: -15px;
  right: 262px;
}

.welcome__promo {
  width: 550px;
  margin-top: 140px;
  position: relative;
  z-index: 2;
}

.welcome__quote {
  width: 220px;
  margin: 0;
  position: absolute;
  z-index: 2;
  top: 300px;
  right: 0;
}

.welcome__bottom-bg {
  position: relative;
  height: 300px;
  margin-top: -50px;
  background-image: url('../img/welcome-bg-bottom.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  z-index: 1;
}

.welcome__elevator-btn {
  z-index: 2;
}

.welcome__elevator-container {
  z-index: 0;
}

@media only screen and (max-width: $tablet-width) {
  .welcome {
    overflow-y: hidden;
  }

  .welcome__promo {
    margin-top: 110px;
    width: 460px;
  }

  .welcome__header {
    position: relative;
    z-index: 1;
  }

  .welcome__quote {
    right: 20px;
  }
}

@media only screen and (max-width: $mobile-width) {
  .welcome {
    padding-bottom: 50px;
  }

  .welcome__container {
    position: relative;
    padding-bottom: 90px;
  }

  .welcome__header {
    padding-top: 15px;
  }

  .welcome__elevator {
    top: 80px;
    z-index: 0;
    right: 0;
    width: 120px;
  }

  .welcome__promo {
    @include center;
    width: 85%;
    max-width: 300px;
    margin-top: 50px;
    position: static;
    margin-left: 0;
  }

  .welcome__quote {
    position: static;
    width: 85%;
    max-width: 300px;
    margin-top: 25px;
  }

  .welcome__cta-btn {
    position: absolute;
    bottom: 0;
    left: 7px;
    margin-top: 0;
  }

  .welcome__bottom-bg {
    display: none;
  }
}
