.d-none {
  display: none;
}

.hidden {
  opacity: 0;
  visibility: hidden;
}

.overlay {
  @include set-transition(all);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba($c-black, 0.7);
  z-index: $overlay-z-index;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.base-title {
  @include set-font(50px, 60px, 500);
  @include set-font-family('Goudy Trajan');
}

.base-text {
  @include set-font(14px, 21px, 400);
  @include set-font-family('TT Norms Pro');
}

.base-section {
  @include center;
  max-width: $max-width;
}

.container {
  @include center;
  width: $min-width;
  padding-left: 15px;
  padding-right: 15px;
}
