@mixin set-font($size: 14px, $line-height: 21px, $font-weight: 400) {
  font-size: $size;
  line-height: $line-height;
  font-weight: $font-weight;
}

@mixin set-font-family($font-name) {
  font-family: $font-name, 'Tahoma', sans-serif;
}

@mixin set-transition($type: all) {
  transition: $type 0.25s ease-in;
}

@mixin center {
  margin-left: auto;
  margin-right: auto;
}

@mixin list-style-reset {
  list-style: none;
  padding: 0;
  margin: 0;
}

@mixin button-normalize {
  padding: 0;
  border: 0 none;
  background-color: transparent;
  font-family: inherit;
  cursor: pointer;
  outline: none;
}

@mixin vertical-margin-clear {
  margin-top: 0;
  margin-bottom: 0;
}
