$c-black: #000000;
$c-white: #ffffff;
$c-blue: #4581dc;
$c-light-blue: #81AFF4;
$c-dark-blue: #1F2A66;
$c-grey: #7D7D7D;
$c-light-grey: #E7E7E7;
$c-lightest-grey: #C8C8C8;
$c-dark-grey: #727272;
$c-darkest-grey: #9D9D9D;

$min-width: 1140px;
$max-width: 1440px;
